html, body, #root, #main {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
}

#sidebar {
  flex-basis: 366px;
  flex-grow: 1;
}

#map-section {
  flex-basis: 0;
  flex-grow: 999;
}
